@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom */

.indiana-scroll-container {
  border-radius: unset;
}

/* Tabs */

[aria-label="Tabs"] button {
  font-size: 1.2rem;
  flex-grow: 1;
}
